@font-face {
    font-family: "Fixel Bold";
    src: url("/digital/fonts/FixelDisplay-ExtraBold.otf");
}

@font-face {
    font-family: "Fixel Medium";
    src: url("/digital/fonts/FixelText-Medium.otf");
}

@font-face {
    font-family: "Fixel Text";
    src: url("/digital/fonts/FixelDisplay-Regular.otf");
}

@font-face {
    font-family: "Fixel SemiBold";
    src: url("/digital/fonts/FixelDisplay-SemiBold.otf");
}

@font-face {
    font-family: "Fixel SemiBold Italic";
    src: url("/digital/fonts/FixelDisplay-SemiBoldItalic.woff2");
}

@font-face {
    font-family: "Fixel Light Italic";
    src: url("/digital/fonts/FixelText-LightItalic.otf");
}

@font-face {
    font-family: "Fixel Regular Italic";
    src: url("/digital/fonts/FixelText-RegularItalic.otf");
}

@font-face {
    font-family: "Fixel ExtraLight";
    src: url("/digital/fonts/FixelText-ExtraLight.otf");
}